.env
.ipynb_checkpoints
FilesExportCompleteFMP
FilesExportIncomplete
FilesExportIncompleteFMP
FilesExportIndividualStockDFs
Model_Data_high_loss
Model_Data_high_loss_2
Model_Data_shift_high_loss
DRL-ICA-91521-scaled.jpeg
SEC_Raw
SEC_Test_Nov2021
Resources_Old
Resources_Test
FilesExport_TimeSeries_DFs
FilesExport_DataDicts
folders_to_keep_Jan2022.txt
Functions/
Functions2/
Functions_Analysis/
FunctionsOld
Model_Data/LSTM_Model_Data_2/
*_LSTM_model_results.pkl
Resources/LSTM_model_results_dict.pkl

